* {box-sizing: border-box;}

body	{background-color: #000000;
		color: #ffffff;
		font-family: IM Fell English, serif; 
		margin: 3;}
		
footer {background-color: #000000;
		font-style: italic; 
		font-size: .60em; 
		text-align: center;
		padding: 1em;
		border-top: 2px solid #000000;}
		
h1	{font-size: 2em;
	color: #ffffff;
	text-shadow: 2px 2px;}
	
img		{max-width: 50%;
		height: auto;}
		
td 	{padding: 10px;}
th 	{padding: 10px;}
tr:nth-of-type(odd) {background-color: #5A5A5A;}
			
table {margin: auto;
		width: 90%;
		border-spacing: 0;}
		
@media (min-width: 600px) { 
		header { 	padding-left: 0; 
				text-align: center; }	
		h1        { font-size: 3em; }	
		input[type="submit"] {grid-column: 2/3;
								width: 9em;}
		form {width: 40%;
				display: grid;
				grid-gap: 1em;
				gap: 1em;
				grid-template-column: 6em 1fr;}
}

@media (min-width: 1024px) {
		@supports (display: grid) {
				header {grid-area: header;}
				footer {grid-area: footer;}		
		}
}

ul.nav {
	display: flex;
	flex-direction: row;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;

}

.center-title {
	text-align: center;
}

a {
  color: white;        
  text-decoration: none;
}

a:visited {
  color: white;        
}

a:hover {
  color: #ccc;         
}

a:active {
  color: white;
}
